*{
    margin: 0 auto;
    box-sizing: border-box;
}
html{
    height: calc(100%);
}

:root {
    --primary-text: #1F314F;
    --secondary-text: #68778D;
    --container-color: #fff;
    --background-color: #D5E1EF;
  }
  
.outfit-bold {
    font-family: "Outfit", "Roboto";
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
    color: var(--primary-text);
  }
  
.outfit-regular {
    font-family: "Outfit", "Roboto";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: var(--secondary-text);
  }

body{
    width: calc(100%);
    height: calc(100%);
    background-color: #D5E1EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: var(--container-color);
    width: 20rem;
    height: 31.25rem;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.048);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
    padding: 1rem;
}

.qrCode{
    width: 18rem;
    height: 18rem;
    border-radius: 0.6rem;
}

.text-container{
    width: calc(100%);
    height: calc(100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

.main-text{
    font-family: outfit;
}